Body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

/* navbar st arts here */

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;

  background-color: #1f2937;
  justify-content: space-between;
}

.navbar ul li {
  display: inline-block;
  padding: 5px 5px;
  list-style-type: none;
  margin-right: 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar img {
  margin-left: 10%;
  width: 65px;
  height: 65px;
}

/* navbar ends here */

/* header starts here */

.header {
  display: flex;
  background-color: #1f2937;
}

.header-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-text h1 {
  color: white;
  margin-left: 15px;
}

.header-text p {
  color: #fff;
  margin-left: 15px;
  margin-top: -15px;
  opacity: 0.7;
}

.header-picture img {
  padding: 40px;
  width: 400px;
  height: 250px;
}

.header-text button {
  display: block;
  text-align: center;
  width: 105px;
  border: none;
  background: #3882f6;
  padding: 6px;
  margin-left: 15px;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
}

/* header ends here */

/* content starts here */
.content {
  padding-top: 15px;
  padding-bottom: 80px;
  align-items: center;
  text-align: center;
}

.content-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-info img {
  width: 100px;
  height: 100px;
  background-color: rgba(99, 1, 163, 0.671);
  border: 4px solid #6500a8;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}

/* content stuff ends here */

/* quote stuff starts here */

.quote {
  display: inline-block;
  /* border: 4px solid #6500a8; */
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: light;
  text-align: center;
}
.quote p {
  opacity: 0.8;
}

.quote span {
  margin-left: 100px;
  padding-top: 15px;
  color: #851dca;
  display: block;
}
.quote b {
  display: block;
  margin-left: 320px;
  padding-bottom: 15px;
  font-size: 24px;
}

/* action stuff starts here */
.action {
  display: flex;
  align-items: left;
  align-items: center;
  justify-content: center;
  padding: 5em 13em;
}

.action-time {
  display: flex;
  /* border: 3px solid red; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  padding: 3em;
  border-radius: 10px;
}

.action-text {
  color: #fff;
}

.action-time button {
  display: block;
  text-align: center;
  width: 105px;
  border: 2px solid #fff;
  background: #3882f6;
  padding: 6px;
  margin-left: 15px;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
}

/* footer stuff */
footer {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #1f2937;
  font-family: "Roboto", arial;
  padding: 20px;
}
